{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}


<h2>Stories<h2><br/>

{% for story in stories %}
    <a href="/update/{{ story.id }}">
        {{ story.storyName }}
    </a><br/>
{% endfor %}
